@import "colors";

.parent {
  display: grid;
  article {
    text-align: center;
    grid-row: 1;
    grid-column: 1/-1;
    padding-top: 5rem;
    background-image: url(../public/images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: 50% 20%;

    h1 {
      color: $dark_desaturated_blue;
      margin-bottom: 0.5rem;
    }
    p {
      opacity: 0.5;
      margin: 0;
    }
  }
  div {
    background-image: url(../public/images/bg-pattern.svg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 10vh;
    grid-row: 1;
    grid-column: 1/-1;
    padding: 20vh 0;
    z-index: -1;
  }
}
